#body,
html {
  height: 100%;
}

#body {
  min-height: 100vh;
  display: flex;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  color: white;

  background-image: url(https://img.freepik.com/vetores-premium/fundo-de-ilustracao-vetorial-de-clinica-de-padrao-medico-sem-costura-papel-de-parede-de-saude-apresentacao-de-negocios-de-textura-repetida-bonita_153454-7404.jpg);

  /* background-image: url(https://thumbs.dreamstime.com/b/teste-padr%C3%A3o-sem-emenda-da-farm%C3%A1cia-dental-m%C3%A9dica-do-s%C3%ADmbolo-sinal-m%C3%A9dico-equipamento-fundo-repeti%C3%A7%C3%A3o-biotecnologia-145884983.jpg); */
}

.main-container {
  display: flex;

  height: 80%;
  width: 60%;

  margin: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;

  background-color: #d00000;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  background-color: #fafafa;
}

.image-section h2 {
  color: #d00000;
}

.form-description {
  margin: 5px;
}

.paragraph-group {
  margin-bottom: 25px;
}

.button-group {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
  margin-bottom: 30px;
}

.btn {
  width: 200px;

  padding: 10px 20px 10px 20px;
  margin: 5px;

  border: none;
  border-radius: 20px;

  background-color: white;
  color: #bf0603;
}

#inputNomeHospital {
  padding: 10px 20px 10px 20px;

  border-radius: 20px;
  border: none;
}

.exit {
  display: flex;
  align-self: flex-start;
}

.exit button{
  font-size: 20px;

  padding: 10px;
  margin: 20px;

  border: none;
  border-radius: 2px;

  background-color: white;
  color: #bf0603;
}
